
html {
    height: 100%;
}
body {
    min-height: 100%;
}
body {
    background-image:url(R.jpg);
    background-size: auto;

        }
header {
    background-color:rgb(7, 17, 211);
    font-size: xxx-large;
    scale: 1.006;
    
        }

footer {
    background-color:rgb(0, 0, 0);
    scale: 1.006;
    text-align: center;
      }


h1, h2 {
    text-align: Center;
  }
.Comp, .News, .Audio {
    text-align: center;
    
}
.All {
    background-color: rgba(28, 29, 58, 0.95);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}
.Links {
    background-color: azure;
    scale: 1.006;


}

.Me {

    scale: 20%;
    border-radius: 50%;
    
}